<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <!-- user entry div -->
    <div class="user-input">


        <div class="workout-entry">
            <form class="new-workout">
                <label for="name">Enter Workout:</label>
                <input type="text" id="reg-name-input" placeholder="Workout Name">
                <button type="submit">Enter</button>
            </form>
        </div>
        <img src="/assets/images/monkey.png">
        <div class="exercise-entry">
            <form class="new-exercise">
                <label for="exer-name">Enter Exercise Name:</label>
                <input type="text" name="exer-name" id="exer-name" placeholder="EX: Eat Bananas">
                <label for="exer-count">Enter The Quantity and Units</label>
                <input type="text" name="exer-count" id="exer-count" placeholder="EX: 20">
                <input type="number" name="exer-count" id="exer-unit" placeholder="EX: Bananas">
                <label for="exer-notes">Notes:</label>
                <input type="text" name="exer-notes" id="exer-notes" placeholder="EX: Only the green ones">
                <button type="submit">Submit</button>
    
            </form>
        </div>

    </div>

{{{ body }}}

   <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>