body {
    /* display: flex; */
    background: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    margin: 10px auto;
}

/* input form styling */
.user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}
.user-input img {
    max-height: 300px;
}

.workout-entry {
    display: flex;
    flex-direction:column;
}
/* .exercise-entry {
    display: none;
    flex-direction: column;
    justify-content: space-around;


} */
.new-exercise {
    display: flex;
    flex-direction: column;
}



/* display box styling */
.workout-wrapper {
    /* display: flex; */
    flex-direction: column-reverse;
}


.workout-title {
    width: 100%;
    margin: 5px auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.workout-title h2 {
    font-size: 2em;
    font-weight: bold;
}

.workout-container {
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80vw;
    border: 1px solid black;
    min-height: 50px;

}

.exercise-container {
    flex-direction: column;
    justify-content: start;
    margin: 10px 0px;
    height: 15vw;
    width: 17%;
    border: 1px solid black;

}

.exercise-name {
    font-size: 1.5em;
}